<div class="row">
  <div class="col-sm-3">
    <div class="row">
      <div class="col-sm-4">
        <image style="max-width:100%;
                            max-height:100%;" src="\public\images\download.png"></image>
      </div>
      <div class="col-sm-8">
        nguoi dang
      </div>
    </div>
    <div class="row">
      ngay dang
    </div>
  </div>
  <div class="col-sm-9">
    <div class="row">
      <h5>Header</h3>
    </div>
    <div class="row">
      Auto-layout for flexbox grid columns also means you can set the width of one column and have the
      sibling columns automatically resize around it. You may use predefined grid classes (as shown
      below), grid mixins, or inline widths. Note that the other columns will resize no matter the width
      of the center column.
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-3">
    <div class="row">
      <div class="col-sm-4">
        image here
      </div>
      <div class="col-sm-8">
        nguoi dang
      </div>
    </div>
    <div class="row">
      ngay dang
    </div>
  </div>
  <div class="col-sm-9">
    Auto-layout for flexbox grid columns also means you can set the width of one column and have the
    sibling columns automatically resize around it. You may use predefined grid classes (as shown
    below), grid mixins, or inline widths. Note that the other columns will resize no matter the width
    of the center column.
    1 of 3
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-3">
    <div class="row">
      <div class="col-sm-4">
        image here
      </div>
      <div class="col-sm-8">
        nguoi dang
      </div>
    </div>
    <div class="row">
      ngay dang
    </div>
  </div>
  <div class="col-sm-9">
    Auto-layout for flexbox grid columns also means you can set the width of one column and have the
    sibling columns automatically resize around it. You may use predefined grid classes (as shown
    below), grid mixins, or inline widths. Note that the other columns will resize no matter the width
    of the center column.
    1 of 3
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-3">
    <div class="row">
      <div class="col-sm-4">
        image here
      </div>
      <div class="col-sm-8">
        nguoi dang
      </div>
    </div>
    <div class="row">
      ngay dang
    </div>
  </div>
  <div class="col-sm-9">
    Auto-layout for flexbox grid columns also means you can set the width of one column and have the
    sibling columns automatically resize around it. You may use predefined grid classes (as shown
    below), grid mixins, or inline widths. Note that the other columns will resize no matter the width
    of the center column.
    1 of 3
  </div>
</div>
<hr>

</div>