<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>{{titleHelper title}}</title>

  <!-- Google Fonts -->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"
    type='text/css'>
  <!--icon pack-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <!-- Jquery -->
  <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.0.min.js"></script>

  {{!-- csss --}}
   <link href="../app.css" rel="stylesheet">

</head>

<body>
  <nav class="navbar navbar-expand-md bg-light navbar-light">
    <!-- Brand -->
    <a class="active" href="/" style="font-size:xx-large;"><i class="fa fa-fw fa-home"></i> Home</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="navbar-nav ml-auto">
      <div class="nav-item dropdown" style="color: blue;">
        <a href="/post">Post</a>
      </div>
    </div>
  </nav>
  <div class="container-fluid">


    <hr>

  </div>
  <div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-8">
      <!--
                1 bai daang tu day
            -->
      {{{body}}}
      <div class="col-sm-2">
      </div>
    </div>
  </div>
</body>

</html>